body 
{
  margin :  10% 15% 10% 15%;
  padding :0;
//  border: 1px solid #eeeeee;
  background-color : #ffffff;
  color : #000000;
  }

p, ul, ol, li 
{
  font : "Bitstream Vera Sans", sans-serif, Arial, geneva, helvetica;
  }

h1 
{
  font : "Bitstream Vera Sans", sans-serif, Arial, Helvetica, geneva;
  font-size: 200%;
  background-color: #666699;
  padding: 0.35em 0.35em 0.35em 10%;
  margin: 0;
  }

h2 
{
  font : "Bitstream Vera Sans", sans-serif, Arial, Helvetica, geneva;
  font-size: 161%;
  }

#content 
{ 
 padding: 0 12em 0 10%;
// background-color: #cccccc;
  }

h1, h2, h3, h4, h5, h6
{
  color : #333366;
  }

#navigation
{ 

  background: #eee;
  layer-background-color: #eee;
  border: 1px solid #ddd;
  color: #000000;
  float: right;
  font-size: .85em;
  text-align: right;
  width: 9em;
  padding: .3em 1em 2em 1em;
  margin: 1.6em 0 1em 0;


  }


#footer p
{ 
  font-size: 65%;
  padding: .1em 1em .1em 1em;
  background-color: #eee;
  color: #ddd;
  margin: 0;
  text-align: right;


 }

a { color: #336; }
a:followed { color: #669; }